<div class="hero">
    <div class="title">
        <h1 [@enter]="{ value: '', params: { duration: 1000, delay: 200, translate: '30px' } }" class="text-center title-text body-font-700">Hey y'all - my name is <span class="title-font">Shanda</span>.</h1>
        <p [@enter]="{ value: '', params: { duration: 500, delay: 1000, translate: '30px' } }" class="text-center body-font-500">And I am a Software Engineer</p>
    </div>
</div>
<section>
    <div id="about" class="background-forest-green">
        <p class="text-center text-white py-5 body-font-300 w-50 text-uppercase mx-auto font-size-1 about">I come from a non-traditonal path into tech, but got here as fast as I could. I currently work on interal projects within PricewaterhouseCoopers as their front-end/accessiblity specialist. </p>
    </div>
</section>
<section class="mb-5">
    <div id="projects">
        <h3 class="text-center py-5 body-font-500">Some projects I've been working on:</h3>
        <div class="row mb-5">
            <div class="col-12 col-md-6">
                <div class="project-card-left shadow-lg">
                    <img class="project-img" src="../../../assets/images/etsy-clone-cropped.png" alt="Screenshot of the etsy clone website I built. On it features products for sale and what Esty recommends">
                    <div class="overlay">
                        <div class="text text-center font-size-1 body-font-300">A clone of Etsy's homepage using purely HTML and CSS.</div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="project-card-right shadow-lg">
                    <img class="project-img" src="../../../assets/images/pinell-photography-cropped.png" alt="Screenshot of the Pinell Photography websites. Features a man and woman standing in a suit and dress on a sand dune in White Sands National Park.">
                    <div class="overlay">
                        <a href="www.pinellphotography.com">
                            <div class="text text-center font-size-1 body-font-300">A photography portfolio website using Angular to provide a way to showcase phtographs and allow clients to reach out for services.</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="project-card-left shadow-lg">
                    <img class="project-img-progress" src="../../../assets/images/etsy-clone-cropped.png" alt="Screenshot of the etsy clone website I built. On it features products for sale and what Esty recommends">
                    <p class="work-in-progress text-uppercase">Work in Progress!</p>
                    <!-- <div class="overlay">
                        <div class="text text-center text-white font-size-15 body-font-300">Hello World</div>
                    </div> -->
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="project-card-right shadow-lg">
                    <img class="project-img-progress" src="../../../assets/images/pinell-photography-cropped.png" alt="Screenshot of the Pinell Photography websites. Features a man and woman standing in a suit and dress on a sand dune in White Sands National Park.">
                    <p class="work-in-progress text-uppercase">Work in Progress!</p>
                    <!-- <div class="overlay">
                        <div class="text text-center text-white font-size-15 body-font-300">Hello World</div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>
<section class="my-5">
    <div id="future">
        <div class="background-forest-green py-5">
            <h3 class="text-center text-white pb-3 body-font-500 font-size-2">What's next for me?</h3>
            <p class="text-center text-white body-font-300 mb-1 about text-uppercase"><s>CSS Animations. Who doesn't love a good animation!</s></p>
            <p class="text-center text-white body-font-300 mb-1 about text-uppercase">React! Gotta keep up with the times!</p>
            <p class="text-center text-white body-font-300 mb-1 about text-uppercase">Next up is Node.js. Node makes a perfect match with React. </p>
        </div>
    </div>
</section>
