<div style="margin-right: 1.5rem; padding-top: 1.5rem" class="d-flex justify-content-between align-items-center">
    <div>
        <h1 style="margin-bottom: 0rem; padding-left: 1.5rem">S.P.</h1>
    </div>
    <div class="d-flex align-items-center justify-content-end">
        <a class="mx-1 nav-link" href="/"><p>Home</p></a>
        <a class="mx-1 nav-link" href="#work"><p>Work</p></a>
        <a class="mx-1 nav-link" href="#about"><p>About</p></a>
        <a class="mx-1 nav-link" href="#contact"><p>Contact</p></a>
    </div>
</div>
<div class="hero d-flex mt-5">
    <img  style="height: 30rem; width: 45rem; object-fit: cover;" src="./../../../assets/images/Shanda.jpg" alt="An outline of the Houston Skyline">
    <div  class="d-flex align-items-center">
        <div class="text-center">
            <h1 style="font-size: 5rem; margin-left: -4rem">shanda pinell</h1>
            <p style="font-size: 1.25rem">FRONT END SOFTWARE ENGINEER</p>
        </div>
    </div>
</div>
<div class="d-flex align-items-center justify-content-center" style="margin-top: 5rem; margin-bottom: 5rem; ">
    <div class="text-center">
        <div class="text-center d-flex">
            <h1>it's pronounced shanda - </h1><h1 class="panda" [@fadeIn]> like panda</h1>
        </div>
        <h3 class="sdk-font-size-1">WANNA KNOW MORE?</h3>
    </div>
</div>
<div style="margin-right: 12rem; margin-left: 12rem; padding-top: 2.5rem; padding-bottom: 5rem">
    <h1 class="w-50 skills-title">skills</h1>
    <ul class="d-flex dev-icons text-center">
        <li class="icon">
            <span class="devicon-angularjs-plain" (mouseover)="addClass($event)" (mouseleave)="removeClass($event)" ></span>
            <p class="sdk-font-size-1">angular</p>
        </li>
        <li class="icon">
            <span class="devicon-bootstrap-plain" (mouseover)="addClass($event)" (mouseleave)="removeClass($event)"></span>
            <p class="sdk-font-size-1">bootstrap</p>
        </li>
        <li class="icon">
            <span class="devicon-csharp-plain" (mouseover)="addClass($event)" (mouseleave)="removeClass($event)"></span> 
            <p class="sdk-font-size-1">c#</p>
        </li>
        <li class="icon">
            <span class="devicon-css3-plain" (mouseover)="addClass($event)" (mouseleave)="removeClass($event)"></span>
            <p class="sdk-font-size-1">css</p>
        </li>
        <li class="icon">
            <span class="devicon-dotnetcore-plain" (mouseover)="addClass($event)" (mouseleave)="removeClass($event)"></span>
            <p class="sdk-font-size-1">.netCore</p>
        </li>
        <li class="icon">
            <span class="devicon-html5-plain" (mouseover)="addClass($event)" (mouseleave)="removeClass($event)"></span>
            <p class="sdk-font-size-1">html</p>
        </li>
        <li class="icon">
            <span class="devicon-javascript-plain" (mouseover)="addClass($event)" (mouseleave)="removeClass($event)"></span>
            <p class="sdk-font-size-1">javascript</p>
        </li>
        <li class="icon">
            <span class="devicon-jquery-plain" (mouseover)="addClass($event)" (mouseleave)="removeClass($event)"></span>
            <p class="sdk-font-size-1">jquery</p>
        </li>
        <li class="icon">
            <span class="devicon-microsoftsqlserver-plain" (mouseover)="addClass($event)" (mouseleave)="removeClass($event)"></span>
            <p class="sdk-font-size-1">mssql</p>
        </li>
        <li class="icon">
            <span class="devicon-typescript-plain" (mouseover)="addClass($event)" (mouseleave)="removeClass($event)"></span>
            <p class="sdk-font-size-1">typescript</p>
        </li>
        <li class="icon">
            <span class="devicon-vscode-plain" (mouseover)="addClass($event)" (mouseleave)="removeClass($event)"></span>
            <p class="sdk-font-size-1">vscode</p>
        </li>
    </ul>
</div>
<div style="margin-left: 12rem; margin-right: 12rem" id="work">
    <div class="w-50" style="padding-bottom: 4rem">
        <h1 class="work-title">my recent work</h1>
    </div>
    <div class="row" [@slideUp]>
        <div class="col-4">
            <div style="background-color:#3a5a40; height: 18rem"></div>
        </div>
        <div class="col-4">
            <div style="background-color:#52796f; height: 10rem; margin-bottom: 2rem"></div>
            <div style="background-color: #84a98c; height: 10rem"></div>
        </div>
        <div class="col-4">
            <div style="background-color:#3a5a40; height: 18rem"></div>
        </div>
    </div>
    <div class="text-center mb-4 sdk-font-size-1" style="padding-top: 2rem">
        <a class="text-uppercase" style="color: black; text-decoration: none; cursor: pointer;">view more work</a>
    </div>
</div>
<div class="d-flex align-items-center justify-content-center" style="color: white;margin-top: 5rem; margin-bottom: 5rem; padding-bottom: 2.5rem; padding-top: 2.5rem;background-color: #344e41;">
    <div class="text-center">
        <h1>lets work together</h1>
        <span class="sdk-font-size-0 text-uppercase" style="cursor:pointer; border: 1px solid white; padding: .5rem; border-radius: 5px">get in touch</span>
    </div>
</div>
<div id="about" class="d-flex" style="margin-left: 12rem; margin-right: 12rem">
    <div class="w-50">
        <h3 class="about-title w-50">About Me</h3>
        <p style="padding-top: 2rem">Hello! Thanks for taking a peek at my website! I am a front-end focused full-stack software engineer with 3 years of professional experience. Most recently, I've been working on an internal application for PricewaterhouseCoopers, PwC, that is used globally to save our users time by automating processes in their daily work.</p>
        <p style="padding-top: 2rem">In my spare time, you can find me either at the local rock gym bouldering or out on a walk with my two dogs. I also am working on my woodworking skills by building our new dining room table. While consistant measuring is my biggest weakness, ask me to see pictures of my latest work of art!  </p>
    </div>
    <div class="w-50 d-flex justify-content-end">
        <img style="border-radius: 5%;height: 25rem; width: 25rem; object-fit: cover;" src="./../../../assets/images/other-shanda.jpg">
    </div>
</div>
<div style="padding: 2.5rem 12rem; margin-top: 4rem; background-color: #344e41; color: white">
    <div class="d-flex align-items-center justify-content-between">
        <div>
            <h1 style="margin-bottom: 0rem; padding-left: 1.5rem">S.P.</h1>
        </div>
        <div class="d-flex align-items-center" style="color: white">
            <a class="mx-1 footer-link" href="/">Home</a>
            <a class="mx-1 footer-link" href="#work">Work</a>
            <a class="mx-1 footer-link" href="#about">About</a>
            <a class="mx-1 footer-link" href="#contact">Contact</a>
        </div>
        <div class="d-flex">
            <div style="margin-right: 1.25rem">
                <a href="https://www.linkedin.com/in/shanda-mckinney/"><svg style="fill:#fff" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"/></svg></a>
            </div>
            <div style="margin-right: 1.25rem">
                <a href="https://twitter.com/shanda_mckinney"><svg style="fill:#fff" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z"/></svg></a>
            </div>
            <div style="margin-right: 1.25rem">
                <a href="https://www.facebook.com/shandalikekungfupanda"><svg style="fill:#fff" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-3 7h-1.924c-.615 0-1.076.252-1.076.889v1.111h3l-.238 3h-2.762v8h-3v-8h-2v-3h2v-1.923c0-2.022 1.064-3.077 3.461-3.077h2.539v3z"/></svg></a>
            </div>
        </div>
    </div>
</div>
