<div class="hero">
    <div class="title">
        <h1 [@enter]="{ value: '', params: { duration: 1000, delay: 200, translate: '30px' } }" class="text-center title-text body-font-700">Hey y'all - my name is <span class="title-font">Shanda</span>.</h1>
        <p [@enter]="{ value: '', params: { duration: 500, delay: 1000, translate: '30px' } }" class="text-center body-font-500">And I am a Software Engineer</p>
    </div>
</div>
<section>
    <div id="about" class="background-forest-green">
        <p class="text-center text-white py-5 body-font-300 w-50 text-uppercase mx-auto font-size-1 about">I come from a non-traditonal path into tech, but got here as fast as I could. I currently work on interal projects within PricewaterhouseCoopers as their front-end/accessiblity specialist. </p>
    </div>
</section>
<section class="mb-5">
    <div id="projects">
        <h3 class="text-center py-5 body-font-500">Some projects I've been working on:</h3>
        <div class="row mb-md-5">
            <div class="col-12 col-md-6">
                <div class="project-card-left shadow-md-lg">
                    <img class="project-img" src="../../../assets/images/etsy-clone-cropped.png" alt="Screenshot of the etsy clone website I built. On it features products for sale and what Esty recommends">
                    <div class="overlay">
                        <a href="https://distracted-galileo-487f83.netlify.app/" target="_blank">
                            <div class="text text-center font-size-1 body-font-300">A clone of Etsy's homepage using purely HTML and CSS.</div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="project-card-right shadow-md-lg">
                    <img class="project-img" src="../../../assets/images/pinell-photography-cropped.png" alt="Screenshot of the Pinell Photography websites. Features a man and woman standing in a suit and dress on a sand dune in White Sands National Park.">
                    <div class="overlay">
                        <a href="http://www.pinellphotography.com" target="_blank">
                            <div class="text text-center font-size-1 body-font-300">A photography portfolio website using Angular to provide a way to showcase phtographs and allow clients to reach out for services.</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="project-card-left shadow-md-lg">
                    <img class="project-img-progress" src="../../../assets/images/url-shorting-api-practice.png" alt="Screenshot of the etsy clone website I built. On it features products for sale and what Esty recommends">
                    <p class="work-in-progress text-uppercase">Work in Progress!</p>
                    <div class="overlay">
                        <a href="https://wizardly-liskov-eb61ec.netlify.app/" target="_blank">
                            <div class="text text-center text-white font-size-15 body-font-300">A url shorting website using an API. This was created with HTML/CSS/Bootstrap.</div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="project-card-right shadow-md-lg">
                    <img class="project-img-progress" src="../../../assets/images/pinell-photography-cropped.png" alt="Screenshot of the Pinell Photography websites. Features a man and woman standing in a suit and dress on a sand dune in White Sands National Park.">
                    <p class="work-in-progress text-uppercase">Work in Progress!</p>
                    <!-- <div class="overlay">
                        <div class="text text-center text-white font-size-15 body-font-300">Hello World</div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>
<section class="my-5">
    <div id="future">
        <div class="background-forest-green py-5 goals">
            <h3 class="text-center text-white pb-3 body-font-500 font-size-2">What's next for me?</h3>
            <p class="text-center text-white body-font-300 mb-1 about text-uppercase"><s>CSS Animations. Who doesn't love a good animation!</s></p>
            <p class="text-center text-white body-font-300 mb-1 about text-uppercase">React! Gotta keep up with the times!</p>
            <p class="text-center text-white body-font-300 mb-1 about text-uppercase">Next up is Node.js. Node makes a perfect match with React. </p>
        </div>
    </div>
</section>
<section class="my-5">
    <div id="contact">
        <div class="">
            <h3 class="text-center pb-3 body-font-500 font-size-2">Lets connect!</h3>
            <div class="row contact-row">
                <div class="col-12 col-md-4">
                    <div class="text-center p-2 shanda-border">
                        <img src="../../../assets/images/Shanda.jpg" class="w-100 shanda-img" alt="A image of Shanda, a brown haired girl with her hair in a bun, looking to the side while on a parking garage roof. She is wearing a jean jacket.">
                    </div>
                </div>
                <div class="col-12 col-md-8 text-center contact-info">
                   
                        <div class="text-center">
                            <p class="mb-0 body-font-500 text-uppercase font-size-75">mckinney.shanda@gmail.com</p>
                            <p class="mb-0 body-font-500 text-uppercase font-size-75">(713) 269-4890</p>
                        </div>
                        <div class="d-flex align-items-center justify-content-center" style="height: 5rem">
                            
                            <a class="mx-3" href="https://www.linkedin.com/in/shanda-mckinney/" target="_blank">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"/></svg>
                            </a>
                            <a class="mx-3" href="https://github.com/shandamckinney" target="_blank">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/></svg>
                            </a>
                        </div>
                        <a href="https://drive.google.com/file/d/1PYunrg1y4k9YR5ui8nyDId-NXxFF6VrB/view?usp=sharing" target="_blank"><button class="btn resume-button">Resume</button></a>
                   
                </div>
            </div>
        </div>
    </div>
</section>
