h1,
h3 {
  font-family: "Arvo", serif;
}

p {
  font-family: "Roboto", sans-serif;
}

.sdk-font-size-0 {
  font-size: 0.75rem;
}

.sdk-font-size-1 {
  font-size: 1rem;
}

.sdk-font-size-2 {
  font-size: 1.25rem;
}

.sdk-font-size-3 {
  font-size: 1.5rem;
}

.sdk-font-size-4 {
  font-size: 2rem;
}

.nav-link {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.footer-link {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.9rem;
  padding: 1rem 1.5rem;
}

.hero {
  height: 100%;
}

.dev-icons {
  flex-wrap: wrap;
  margin: 6% auto;
  list-style: none;
}

.icon {
  justify-content: center;
  flex-basis: 25%;
  font-size: 4rem;
}

.icon p {
  margin-top: -1rem;
}

.about-title {
  position: relative;
}

.about-title::before {
  background-color: rgba(52, 78, 65, 0.2);
  content: "";
  position: absolute;
  width: calc(100% + -7rem);
  height: 60%;
  left: -2px;
  bottom: -6px;
  z-index: -1;
  transform: rotate(-2deg);
}

.skills-title {
  position: relative;
}

.skills-title::before {
  background-color: rgba(52, 78, 65, 0.2);
  content: "";
  position: absolute;
  width: calc(50% + -6rem);
  height: 60%;
  left: -2px;
  bottom: -6px;
  z-index: -1;
  transform: rotate(-2deg);
}

.work-title {
  position: relative;
}

.work-title::before {
  background-color: rgba(52, 78, 65, 0.2);
  content: "";
  position: absolute;
  width: calc(50% + 5rem);
  height: 60%;
  left: -2px;
  bottom: -6px;
  z-index: -1;
  transform: rotate(-2deg);
}

.active {
  color: #84a98c;
}

.skills-title.fade-in::before {
  -webkit-animation: name 2s infinite;
  animation: name 2s infinite;
}

@keyframes name {
  0% {
    color: black !important;
    background-color: rgba(52, 78, 65, 0.2);
  }
  50% {
    color: black !important;
    background-color: rgba(52, 78, 65, 0.7);
  }
  100% {
    color: black !important;
    background-color: rgba(52, 78, 65, 1);
  }
}

.panda {
  padding-left: 0.5rem;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 25%;
  }
}
