<div class="app">
  <header>
    
    <nav class="fixed-top py-2">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link body-font-500 text-black" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link body-font-500 text-black" href="#projects">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link body-font-500 text-black" href="#future">Future</a>
        </li>
        <li class="nav-item">
          <a class="nav-link body-font-500 text-black" href="#contact">Contact</a>
        </li>
      </ul>
    </nav>
  </header>

  <main>
    <router-outlet></router-outlet>
  </main>

  <footer>
    
  </footer>

</div>